<template>
  <div>
    <h2>Intro</h2>
    <div>{{ $t('SubIntro1') }}</div>
    <ul>
      <li>{{ $t('SubIntro2') }}</li>
      <li>{{ $t('A photo for your badge') }}</li>
    </ul>
    <div class="mt-2">
      {{ $t('SubIntro4') }}
    </div>
    <div class="mt-2">
      <v-btn color="primary" @click="next">
        {{ $t('Continue') }}
      </v-btn>
    </div>
  </div>
</template>

<script>

export default {

  methods: {
    next () {
      this.$store.commit('enrollment/updateStep', 2)
    }
  }
}
</script>

<style scoped>

</style>
