<template>
  <div>
    <h2>{{ $t('Nationality') }}</h2>
    <div v-show="enrollment.natstatus == 'Fide Belg.'">
      {{ $t('SubNat1') }}
    </div>
    <div v-show="enrollment.natstatus == 'No Belg.'">
      {{ $t('SubNat2') }}
    </div>
    <div v-show="enrollment.natstatus == 'Unknown'">
      {{ $t('SubNat3') }}
    </div>
    <v-checkbox v-model="consentNat" :label="$t('I agree')" />
    <h3>{{ $t('Privacy rules') }}</h3>
    <div>{{ $t('SubNat4') }}</div>
    <div>{{ $t('SubNat5') }}</div>
    <ul>
      <li>{{ $t('SubNat6') }}</li>
      <li>{{ $t('SubNat7') }}</li>
      <li>{{ $t('SubNat8') }}</li>
      <li>{{ $t('SubNat9') }}</li>
      <li>{{ $t('SubNat10') }}</li>
    </ul>
    <v-checkbox v-model="consentPriv" :label="$t('I agree')" />

    <div>
      <v-btn v-show="agreed" color="primary" @click="next">
        {{ $t('Continue') }}
      </v-btn>
      <v-btn @click="prev">
        {{ $t('Back') }}
      </v-btn>
    </div>
  </div>
</template>

<script>

import { mapState } from 'vuex'

export default {

  computed: {
    agreed () { return this.consentNat && this.consentPriv },
    consentNat: {
      get () {
        return this.$store.state.enrollment.consentNat
      },
      set (value) {
        this.$store.commit('enrollment/updateConsentNat', value)
      }
    },

    consentPriv: {
      get () {
        return this.$store.state.enrollment.consentPriv
      },
      set (value) {
        this.$store.commit('enrollment/updateConsentPriv', value)
      }
    },
    ...mapState({
      step: state => state.enrollment.step,
      enrollment: state => state.enrollment.enrollment
    })
  },

  methods: {
    next () {
      this.$store.commit('enrollment/updateStep', 6)
    },

    prev () {
      this.$store.commit('enrollment/updateStep', 4)
    }
  }

}
</script>

<style scoped>

</style>
