<template>
  <div>
    <v-container>
      <h1>{{ page.title }}</h1>
      <div v-if="page.intro" class="my-3">
        <i>{{ page.intro }}</i>
      </div>
      <nuxt-content :document="page" />
    </v-container>
  </div>
</template>

<script>
export default {

  layout: 'default.vue',

  async asyncData ({ $content, params }) {
    const page = await $content('articles', params.slug).fetch()
    return {
      page
    }
  }

}
</script>

  <style>
  h1:after
  {
      content:' ';
      display: block;
      border:1px solid #aaa;
      margin-bottom: 1em;
  }

  .nuxt-content td, .nuxt-content th {
    padding: 8px;
    border: 1px solid #ddd;
  }
  .nuxt-content table {
    border-collapse: collapse;
  }
  .nuxt-content ul , .nuxt-content ol, .nuxt-content h2, .nuxt-content h3 {
      margin-bottom: 0.5em;
  }
  </style>
