<template>
  <div>
    <h2>{{ $t("Reservation wizard") }}</h2>
    <div class="mt-2">
      {{ $t(t.intro) }}
      <ul>
        <li>{{ $t(t.req1) }}</li>
        <li>{{ $t(t.req2) }}</li>
        <li>{{ $t(t.req3) }}</li>
        <li>{{ $t(t.req4) }}</li>
        <li>{{ $t(t.req5) }}</li>
      </ul>
    </div>
    <div class="mt-2">
      {{ $t(t.multiple) }}
    </div>
    <div class="mt-2">
      <v-btn color="primary" @click="next">
        {{ $t("Continue") }}
      </v-btn>
    </div>
  </div>
</template>

<script>
const step = 1
export default {
  name: 'LodgingIntro',
  data () {
    return {
      t: {
        intro: 'In order to make a reservation you need to provide the following elements:',
        req1: 'the details of the adult responsible for the reservation',
        req2: 'the details of every guest',
        req3: 'which guests are participants to the tournament',
        req4: 'accomodation details, start date and end date',
        req5: 'the meals',
        multiple: 'The reservation is done per room.  If you want to book two rooms, you have to run this tools twice.'
      }
    }
  },
  methods: {
    next () {
      this.$store.commit('lodging/updateStep', step + 1)
    }
  }
}
</script>
