<template>
  <v-container fluid grid-list-lg>
    <h1 class="my-2">
      {{ $t('Enrollment') }} 2023
    </h1>
    <div>
      <p>
        {{ $t('The enrollments are officially closed.') }}
      </p>
      <!-- <p>
        {{ $t('You can still enroll, but an adminstrative cost of 10 Euro will be charged.') }}
      </p>
      <p>
        <NuxtLink to="enrollment_late">
          {{ $t('Enrollment link.') }}
        </NuxtLink>
      </p> -->
    </div>
  </v-container>
</template>

<script>

export default {

  layout: 'default',

  data () {
    return {
      confirmed: false
    }
  },

  computed: {
    step () {
      return this.$store.state.enrollment.step
    }
  },

  methods: {
    changeStep () {
      this.$root.$emit('changeStep', this.step)
    }

  }

}
</script>

<style scoped>

</style>
