<template>
  <v-container fluid grid-list-lg>
    <h1 class="my-2">
      {{ $t('Enrollment') }} 2023
    </h1>
    <!-- <div>
      <v-stepper v-model="step" vertical @change="changeStep">
        <v-stepper-step :complete="step > 1" step="1">
          Intro
        </v-stepper-step>
        <v-stepper-content step="1">
          <EnrollmentIntro />
        </v-stepper-content>

        <v-stepper-step :complete="step > 2" step="2">
          {{ $t('ID number') }}
        </v-stepper-step>
        <v-stepper-content step="2">
          <EnrollmentIdnumber />
        </v-stepper-content>

        <v-stepper-step :complete="step > 3" step="3">
          {{ $t('Details') }}
        </v-stepper-step>
        <v-stepper-content step="3">
          <EnrollmentDetails />
        </v-stepper-content>

        <v-stepper-step :complete="step > 4" step="4">
          {{ $t('Photo') }}
        </v-stepper-step>
        <v-stepper-content step="4">
          <EnrollmentPhoto />
        </v-stepper-content>

        <v-stepper-step :complete="step > 5" step="5">
          {{ $t('Nationality') }}
        </v-stepper-step>
        <v-stepper-content step="5">
          <EnrollmentNationality />
        </v-stepper-content>

        <v-stepper-step :complete="confirmed" step="6">
          {{ $t('Confirmation') }}
        </v-stepper-step>
        <v-stepper-content step="6">
          <EnrollmentConfirmation />
        </v-stepper-content>
      </v-stepper>
    </div> -->
  </v-container>
</template>

<script>

import { trndates } from '@/util/const'

export default {

  layout: 'default',

  data() {
    return {
      confirmed: false
    }
  },

  computed: {
    step() {
      return this.$store.state.enrollment.step
    },
    too_early() {
      return new Date() < trndates.enrollment_start
    },
    too_late() {
      return new Date() > trndates.enrollment_end
    },

  },

  methods: {
    changeStep() {
      this.$root.$emit('changeStep', this.step)
    }
  }

}
</script>

<style scoped>

</style>
