<template>
  <v-container>
    <h1>{{ page.title }}</h1>
    <nuxt-content :document="page" />
    <v-row class="mt-2">
      <v-col v-for="a in articles" :key="a.id" cols="12" sm="6" md="4">
        <v-card>
          <v-card-title class="blue-grey lighten-1 black--text pa-3 hyphen">
            {{ a.title }}
          </v-card-title>
          <v-card-text class="mt-2" v-html="a.intro" />
          <v-card-actions>
            <v-spacer />
            <v-btn :to="'/article/' + a.slug">
              {{ $t('read more') }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  layout: 'landing',

  data () {
    return {
      articles: [],
      calitems: [],
      page: null
    }
  },

  async fetch () {
    this.page = await this.$content('pages', `index_${this.$i18n.locale}`).fetch()
    const allarticles = await this.$content('articles').fetch()
    const slugs = {}
    allarticles.forEach((a) => {
      const slug = a.slug.split(['.'])[0]
      const slugsplitted = slug.split('_')
      const lang = slugsplitted.pop()
      const slugno = slugsplitted.join('_')
      const artlang = slugs[slugno] || {}
      artlang[lang] = a
      slugs[slugno] = artlang
    })
    // .filter(art => addDays(new Date(art.publication_date), art.active_days) > new Date())
    this.articles = []
    for (const sl in slugs) {
      const slugi18n = slugs[sl]
      this.articles.push(slugi18n[this.$i18n.locale] || {
        title: 'No Title',
        intro: `This article has no translation for ${this.$i18n.locale}`
      })
    }
  },

  head: {
    title: 'Home',
    link: [
      {
        rel: 'stylesheet',
        href:
          'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'
      },
      {
        rel: 'stylesheet',
        href: 'https://fonts.googleapis.com/css?family=Material+Icons'
      },
      {
        rel: 'stylesheet',
        href:
          'https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css'
      },
      { rel: 'favicon', href: 'favicon.ico' }
    ],
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { hid: 'home', name: 'description', content: 'Meta description' }
    ],
    script: [
      {
        src: 'https://apis.google.com/js/platform.js',
        async: true,
        defer: true
      }
    ]
  }
}
</script>

<style>
h1:after
{
    content:' ';
    display: block;
    border:1px solid #aaa;
    margin-bottom: 1em;
}
.nuxt-content td, .nuxt-content th {
  padding: 8px;
  border: 1px solid #ddd;
}
.nuxt-content table {
  border-collapse: collapse;
}
.nuxt-content ul , .nuxt-content ol, .nuxt-content h2, .nuxt-content h3 {
    margin-bottom: 0.5em;
}
</style>
