<template>
  <v-container fluid grid-list-lg>
    <h1 class="my-2">
      {{ $t('Lodging') }}
    </h1>
    <div v-if="too_early">
      {{ $t('Reservation for lodging not started yet') }}
    </div>
    <div v-if="!too_early">
      <v-stepper v-model="step" vertical>
        <v-stepper-step :complete="step > 1" step="1">
          {{ $t('Step') }} 1
        </v-stepper-step>
        <v-stepper-content step="1">
          <Lodging-Intro />
        </v-stepper-content>

        <v-stepper-step :complete="step > 2" step="2">
          {{ $t('Step') }} 2
        </v-stepper-step>
        <v-stepper-content step="2">
          <Lodging-Responsible />
        </v-stepper-content>

        <v-stepper-step :complete="step > 3" step="2">
          {{ $t('Step') }} 3
        </v-stepper-step>
        <v-stepper-content step="3">
          <Lodging-Guests />
        </v-stepper-content>

        <v-stepper-step :complete="step > 4" step="4">
          {{ $t('Step') }} 4
        </v-stepper-step>
        <v-stepper-content step="4">
          <Lodging-Accomodation />
        </v-stepper-content>

        <v-stepper-step :complete="step > 5" step="5">
          {{ $t('Step') }} 5
        </v-stepper-step>
        <v-stepper-content step="5">
          <Lodging-Meals />
        </v-stepper-content>

        <v-stepper-step :complete="confirmed" step="6">
          {{ $t('Step') }} 6
        </v-stepper-step>
        <v-stepper-content step="6">
          <Lodging-Confirmation />
        </v-stepper-content>
      </v-stepper>
    </div>
  </v-container>
</template>

<script>

import { trndates } from '@/util/const'

export default {
  name: 'Lodging',

  computed: {
    step() {
      return this.$store.state.lodging.step
    },
    confirmed() {
      return this.$store.state.lodging.confirmed
    },
    too_early() {
      return new Date() < trndates.lodging_start
    },
  }
}
</script>

<style scoped>

</style>
