<template>
  <v-container fluid grid-list-lg>
    <h1 class="my-2">
      {{ $t('Participants') }}
    </h1>
    <h4>{{ $t('Filter categories') }}</h4>
    <v-layout row wrap>
      <v-flex v-for="c in boys" :key="c" md1 sm2 xs3>
        <v-checkbox
          v-model="catsSelected[c]"
          :label="c"
          hide-details
          class="check"
          @change="recalc"
        />
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex v-for="c in girls" :key="c" md1 sm2 xs3>
        <v-checkbox
          v-model="catsSelected[c]"
          :label="c"
          hide-details
          class="check"
          @change="recalc"
        />
      </v-flex>
    </v-layout>
    <v-data-table
      :items="filteredParticipants"
      class="elevation-1"
      :headers="headers"
      :footer-props="{
        itemsPerPageOptions: [25,50,100],
        itemsPerPageText: $t('Rows per page')
      }"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.last_name }}</td>
        <td>{{ props.item.first_name }}</td>
        <td class="text-xs-center">
          {{ props.item.gender }}
        </td>
        <td class="text-xs-center">
          {{ props.item.category }}
        </td>
        <!-- <td class="text-xs-right">
          {{ props.item.ratingfide }}
        </td>
        <td class="text-xs-right">
          {{ props.item.ratingbel }}
        </td> -->
      </template>
    </v-data-table>
  </v-container>
</template>

<script>

export default {

  layout: 'default',

  data () {
    return {
      allcats: true,
      boys: ['B8', 'B10', 'B12', 'B14', 'B16', 'B18', 'B20'],
      catsSelected: {},
      girls: ['G8', 'G10', 'G12', 'G14', 'G16', 'G18', 'G20'],
      participants: []
    }
  },

  computed: {
    filteredParticipants () {
      if (this.allcats) { return this.participants }
      return this.participants.filter(p => this.catsSelected[p.category])
    },
    headers () {
      return [
        {
          text: this.$t('Last name'),
          sortable: true,
          align: 'left',
          value: 'last_name'
        },
        {
          text: this.$t('First name'),
          sortable: true,
          align: 'left',
          value: 'first_name'
        },
        {
          text: this.$t('Gender'),
          sortable: true,
          align: 'center',
          value: 'gender'
        },
        {
          text: this.$t('Category'),
          sortable: true,
          align: 'center',
          value: 'category'
        }
        // {
        //   text: this.$t('FIDE rating'),
        //   sortable: true,
        //   align: 'right',
        //   value: 'ratingfide'
        // },
        // {
        //   text: this.$t('BEL rating'),
        //   sortable: true,
        //   align: 'right',
        //   value: 'ratingbel'
        // }
      ]
    }
  },

  mounted () {
    const self = this
    this.$api.enrollment.anon_enrollments().then(
      function (reply) {
        console.log('reply', reply)
        console.log('parts', reply.data.enrollments)
        self.participants = reply.data.enrollments
      }
    )
  },

  methods: {
    recalc () {
      const catarray = []
      Object.keys(this.catsSelected).forEach((k) => {
        if (this.catsSelected[k]) { catarray.push(k) }
      })
      this.allcats = !catarray.length
    }
  }

}
</script>

<style scoped>

</style>
