<template>
  <v-container class="mt-1">
    <v-select
      v-model="catselected"
      :label="label"
      :items="cats"
      item-value="name"
      item-text="name"
      @change="updateCat"
    />
    <h1>{{ trn.Tournament }}</h1>
    <v-tabs v-model="tab" show>
      <v-tab>{{ $t('Standings') }}</v-tab>
      <v-tab>{{ $t('Pairings') }}</v-tab>
    </v-tabs>
    <v-tabs-items v-model="tab">
      <v-tab-item>
        <v-data-table :items="standings" :headers="sheaders" :items-per-page="80" :hide-default-footer="true">
          <template #item.TB0="{ item }">
            {{ item.tiebreak[0].Points }}
          </template>
          <template #item.TB1="{ item }">
            {{ item.tiebreak[1].Points }}
          </template>
          <template #item.TB2="{ item }">
            {{ item.tiebreak[2].Points }}
          </template>
          <template #item.TB3="{ item }">
            {{ item.tiebreak[3].Points }}
          </template>
          <template #item.TB4="{ item }">
            {{ item.tiebreak[4].Points }}
          </template>
        </v-data-table>
      </v-tab-item>
      <v-tab-item>
        <div v-for="p in trpairing" :key="p.rnr" class="my-2">
          <h2>R{{ p.rnr }}</h2>
          <v-data-table :items="p.games" :headers="gheaders" :items-per-page="50" :hide-default-footer="true" />
        </div>
        <div v-if="!trpairing.length">
          No data available
        </div>
      </v-tab-item>
    </v-tabs-items>
  </v-container>
</template>

<script>

export default {

  nuxtI18n: false,

  async asyncData ({ $content, params }) {
    const cks = (await $content('trn', params.cat).fetch())
    let ck = null
    let ckround = -1
    cks.forEach((t) => {
      const round = t.slug.toLowerCase().split('.')[0].split('_r')[1]
      if (round > ckround) {
        ck = t.Swar
        ckround = round
      }
    })
    const cats = (await $content('trn', 'categories').fetch()).categories
    const trn = ck.TournamentDesc
    const plyrs = ck.Player
    const pairings = []
    const standings = []
    let boardnr

    const getWhiteResult = function (rescode) {
      switch (rescode) {
        case '1':
          return '1-0'
        case '0':
          return '0-1'
        case '½':
          return '½-½'
        case '1FF':
          return '1-0 FF'
        case '0FF':
          return '0-1 FF'
        case '-':
          return '-'
      }
    }

    const plni = {}
    let bl
    plyrs.forEach((p) => {
      plni[p.Ni] = p
    })
    plyrs.forEach((p, ix) => {
      standings[p.Ranking - 1] = {
        id: p.NationalId,
        rank: p.Ranking,
        name: p.Name,
        elo: Math.max(p.NationalElo, p.FideElo),
        tiebreak: p.TieBreak,
        ngames: p.NbOfParts,
        points: parseFloat(p.Points)
      }
      if (!p.RoundArray) { return }
      p.RoundArray.forEach((r) => {
        const rnr = r.RoundNr
        const pr = pairings[rnr] || {
          games: [],
          bye: null,
          absent: [],
          rnr
        }
        switch (r.Color) {
          case 'No Color':
            if (r.Tabel === 'BYE') {
              pr.bye = {
                white: `${p.Name} (${Math.max(p.NationalElo, p.FideElo)})`,
                black: 'Bye',
                result: ''
              }
            }
            if (r.Tabel === 'Absent') {
              pr.absent.push({
                white: `${p.Name} (${Math.max(p.NationalElo, p.FideElo)})`,
                black: 'Absent',
                result: ''
              })
            }
            break
          case 'White':
            boardnr = parseInt(r.Tabel)
            bl = plni[r.OpponentNi]
            pr.games[boardnr] = {
              white: `${p.Name} (${Math.max(p.NationalElo, p.FideElo)})`,
              black: `${bl.Name} (${Math.max(bl.NationalElo, bl.FideElo)})`,
              result: getWhiteResult(r.Result),
              boardnr
            }
            break
        }
        pairings[rnr] = pr
      })
    })

    const maxround = pairings.length - 1
    const sortpairings = []
    pairings.forEach((p, ix) => {
      if (ix > 0) {
        sortpairings[maxround - ix] = {
          games: p.games,
          rnr: p.rnr
        }
        if (p.bye) { sortpairings[maxround - ix].games.push(p.bye) }
        if (p.absent) {
          sortpairings[maxround - ix].games.push(...p.absent)
        }
      }
    })

    return {
      trn, standings, sortpairings, cats
    }
  },

  data () {
    return {
      catselected: this.$route.params.cat,
      label: this.$t('Category'),
      gheaders: [
        {
          text: 'Nr',
          sortable: false,
          value: 'boardnr'
        },
        {
          text: 'Wit',
          sortable: false,
          value: 'white'
        },
        {
          text: 'Res.',
          sortable: false,
          value: 'result'
        },
        {
          text: 'Zwart',
          sortable: false,
          value: 'black'
        }
      ],
      tab: 0

    }
  },

  head: {
    title: 'Home',
    link: [
      {
        rel: 'stylesheet',
        href:
          'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'
      },
      {
        rel: 'stylesheet',
        href: 'https://fonts.googleapis.com/css?family=Material+Icons'
      },
      {
        rel: 'stylesheet',
        href:
          'https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css'
      },
      { rel: 'favicon', href: 'favicon.ico' }
    ],
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { hid: 'home', name: 'description', content: 'Meta description' }
    ],
    script: [
      {
        src: 'https://apis.google.com/js/platform.js',
        async: true,
        defer: true
      }
    ]
  },

  computed: {
    trpairing () {
      const showmax = 9
      return this.sortpairings.slice(0, showmax)
      // switch (this.catselected) {
      //   case 'g8':
      //     return [
      //       this.sortpairings[0],
      //       this.sortpairings[1],
      //       this.sortpairings[2],
      //       this.sortpairings[3],
      //       this.sortpairings[4],
      //       this.sortpairings[5],
      //       this.sortpairings[6],
      //       this.sortpairings[7],
      //       this.sortpairings[8]
      //     ].slice(9 - showmax, 9)
      //   case 'g12':
      //     return [
      //       this.sortpairings[0],
      //       this.sortpairings[1],
      //       this.sortpairings[2],
      //       this.sortpairings[3],
      //       this.sortpairings[4],
      //       this.sortpairings[5],
      //       this.sortpairings[6],
      //       this.sortpairings[7],
      //       this.sortpairings[8]
      //     ].slice(9 - showmax, 9)
      //   default:
      //     return this.sortpairings.slice(0, showmax)
      // }
    },
    robin () {
      switch (this.catselected) {
        case 'g12':
        case 'g8':
          return true
        default:
          return false
      }
    },
    sheaders () {
      return [
        {
          text: 'Nr',
          // sortable: false,
          value: 'rank'
        },
        {
          text: 'Naam',
          // sortable: false,
          value: 'name'
        },
        {
          text: 'Elo',
          sortable: false,
          value: 'elo'
        },
        {
          text: this.robin ? 'DE' : 'BC 1',
          sortable: false,
          value: 'TB0'
        },
        {
          text: this.robin ? '# Won' : 'Bucholz',
          sortable: false,
          value: 'TB1'
        },
        {
          text: 'SB',
          sortable: false,
          value: 'TB2'
        },
        {
          text: this.robin ? 'Koya' : 'Prog',
          sortable: false,
          value: 'TB3'
        },
        {
          text: this.robin ? '# Black' : 'DE',
          sortable: false,
          value: 'TB4'
        },
        {
          text: 'Partijen',
          sortable: false,
          value: 'ngames'
        },
        {
          text: 'Punten',
          sortable: false,
          value: 'points'
        }]
    }

  },

  methods: {
    updateCat () {
      this.$router.push({ path: '/pairings/' + this.catselected.toLowerCase() })
    }
  }

}
</script>
