<template>
  <v-footer color="purple lighten-1" dark class="mt-2">
    Chessdevil Consulting</a>. &copy; 2018 - 2022.  All rights reserved
  </v-footer>
</template>

<script>
export default {
  name: 'ByccoFooter'
}
</script>
