<template>
  <div>
    <v-toolbar dark text class="purple">
      <v-list>
        <v-list-item>
          <v-list-item-title class="title">
            Menu
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-toolbar>
    <v-divider />
    <v-list dark dense class="purple darken-1">
      <v-list-item to="/mgmt/reservationlist">
        <v-list-item-content>Reservations</v-list-item-content>
      </v-list-item>
    </v-list>
    <v-list dark dense class="purple darken-1">
      <v-list-item to="/mgmt/roomlist">
        <v-list-item-content>Rooms</v-list-item-content>
      </v-list-item>
    </v-list>
    <v-list dark dense class="purple darken-1">
      <v-list-item to="/mgmt/enrollmentlist">
        <v-list-item-content>Enrollments</v-list-item-content>
      </v-list-item>
    </v-list>
    <v-list dark dense class="purple darken-1">
      <v-list-item to="/mgmt/paymentrequestlist">
        <v-list-item-content>Payment Requests</v-list-item-content>
      </v-list-item>
    </v-list>
    <v-list dark dense class="purple darken-1">
      <v-list-item to="/mgmt/attendeelist">
        <v-list-item-content>Attendees</v-list-item-content>
      </v-list-item>
    </v-list>
  </div>
</template>

<script>
export default {
  name: 'SidebarMgmt'
}
</script>

<style scoped>
.btn-language.v-btn {
  min-width: 0;
  color: white;
}
.v-list-group--active.primary--text {
  color: white !important;
}
</style>
