<template>
  <div>
    <v-toolbar dark text class="blue-grey">
      <v-list>
        <v-list-item>
          <v-list-item-title class="title">
            Menu
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-toolbar>
    <v-divider />
    <div class="blue-grey darken-1">
      <v-btn text class="hover-darker btn-language" @click="$i18n.setLocale('nl')">
        NL
      </v-btn>
      <v-btn text class="hover-darker btn-language" @click="$i18n.setLocale('fr')">
        FR
      </v-btn>
      <v-btn text class="hover-darker btn-language" @click="$i18n.setLocale('de')">
        DE
      </v-btn>
      <v-btn text class="hover-darker btn-language" @click="$i18n.setLocale('en')">
        EN
      </v-btn>
    </div>
    <v-list dark dense class="blue-grey darken-1">
      <v-list-item to="/">
        <v-list-item-icon>
          <v-icon>home</v-icon>
        </v-list-item-icon>
        <v-list-item-content>{{ $t('Home') }}</v-list-item-content>
      </v-list-item>
      <v-list-group no-action>
        <template #activator>
          <v-list-item-content>
            <v-list-item-title>{{ $t('Tournament') }}</v-list-item-title>
          </v-list-item-content>
        </template>
        <v-list-item to="/pairings/u20">
          <v-list-item-content>
            {{ $t('Pairings') }}
          </v-list-item-content>
        </v-list-item>
        <!-- <v-list-item to="/enrollment">
          <v-list-item-content>
            {{ $t('Enrollment') }}
          </v-list-item-content>
        </v-list-item> -->
        <v-list-item to="/participants">
          <v-list-item-content>
            {{ $t('Participants') }}
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/toernooireglement">
          <v-list-item-content>
            {{ $t('Tournament Rules') }}
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/live">
          <v-list-item-content>
            Live
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/games">
          <v-list-item-content>
            PGN
          </v-list-item-content>
        </v-list-item>
        <!-- <v-list-item to="/prijs">
          <v-list-item-content>
            {{ $t('Prizes') }}
          </v-list-item-content>
        </v-list-item> -->
      </v-list-group>
      <v-list-group no-action>
        <template #activator>
          <v-list-item-content>
            <v-list-item-title>Info</v-list-item-title>
          </v-list-item-content>
        </template>
        <v-list-item to="/huishoudreglement">
          <v-list-item-content>
            {{ $t('Internal Regulations') }}
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/covid">
          <v-list-item-content>
            Covid 19
          </v-list-item-content>
        </v-list-item>
      </v-list-group>
      <v-list-group no-action>
        <template #activator>
          <v-list-item-content>
            <v-list-item-title>{{ $t('Lodging') }}</v-list-item-title>
          </v-list-item-content>
        </template>
        <v-list-item to="/verblijf">
          <v-list-item-content>
            {{ $t('Lodging') }}
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/restaurant">
          <v-list-item-content>
            {{ $t('Catering') }}
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/toewijzingverblijf">
          <v-list-item-content>
            {{ $t('Reservation') }}
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/lodging">
          <v-list-item-content>
            {{ $t('Reservation wizard') }}
          </v-list-item-content>
        </v-list-item>
      </v-list-group>
    </v-list>
  </div>
</template>

<script>
export default {
  name: 'Sidebar',

  data () {
    return {
      categories: []
    }
  },

  methods: {
    updateLocale (s) {
    }
  }
}
</script>

<style scoped>
.btn-language.v-btn {
  min-width: 0;
  color: white;
}

.v-list-group--active.primary--text {
  color: white !important;
}

.menucell {
  width: 60px;
}

.left72 {
  padding-left: 72px;
}
</style>
