<template>
  <v-app-bar
    v-cloak
    dark
    app
    class="purple darken-2"
  >
    <v-app-bar-nav-icon @click="toggleDrawer" />
    <v-toolbar-title>
      Management Bycco
      </v-toolbar-items>
    </v-toolbar-title>
  </v-app-bar>
</template>

<script>
export default {
  name: 'Topbar',

  props: {
    drawer: {
      type: Boolean,
      default: null
    }
  },

  methods: {
    toggleDrawer () {
      this.$emit('updateDrawer', !this.drawer)
    }
  }
}
</script>

<style scoped>
.landing.blue-grey.darken-2 {
  background-color: rgba(77, 94, 101, 0.4) !important;
}
</style>
