<template>
  <v-app>
    <v-navigation-drawer
      v-cloak
      v-model="drawer"
      app
      class="purple darken-1"
    >
      <SidebarMgmt />
    </v-navigation-drawer>
    <TopbarMgmt :drawer="drawer" @updateDrawer="updateDrawer" />
    <v-main>
      <nuxt />
    </v-main>
    <v-snackbar v-model="snackbar" :color="color" top>
      {{ snacktext }}
      <template #action="{ attrs }">
        <v-btn text v-bind="attrs" @click="snackbar = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </template>
    </v-snackbar>
    <ByccoFooterMgmt />
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      drawer: false,
      color: '',
      snackbar: false,
      snacktext: ''

    }
  },
  mounted () {
    this.$root.$on('snackbar', this.showSnackbar)
  },
  methods: {
    showSnackbar (ev) {
      if (ev.text) {
        this.snacktext = ev.text
        this.snackbar = true
      }
      this.color = ev.color ? ev.color : 'black'
    },
    updateDrawer (value) {
      this.drawer = value
    }
  }
}
</script>
