<template>
  <v-container>
    <h1>Management Attendees</h1>
    <v-data-table
      :headers="headers"
      :items="enrs"
      :item-class="lightgreyRow"
      :footer-props="footerProps"
      class="elevation-1"
      :sort-by="['last_name']"
      :search="search"
    >
      <template #top>
        <v-card color="grey lighten-4">
          <v-card-title>
            <v-row class="px-2">
              <v-text-field
                v-model="search"
                label="Search"
                class="mx-4"
                append-icon="mdi-magnify"
                hide_details
              />
              <v-spacer />
              <v-tooltip bottom>
                <template #activator="{ on }">
                  <v-btn
                    fab
                    outlined
                    color="deep-purple"
                    v-on="on"
                    @click="addAttendee()"
                  >
                    <v-icon>mdi-account-plus</v-icon>
                  </v-btn>
                </template>
                Add account
              </v-tooltip>
              <v-tooltip bottom>
                <template #activator="{ on }">
                  <v-btn
                    fab
                    outlined
                    color="deep-purple"
                    v-on="on"
                    @click="refresh()"
                  >
                    <v-icon>mdi-refresh</v-icon>
                  </v-btn>
                </template>
                Refresh
              </v-tooltip>
            </v-row>
          </v-card-title>
        </v-card>
      </template>
      <template #item.index="{ index }">
        {{ index + 1 }}
      </template>
      <template #item.photo="{ item }">
        <!-- <img width="30" :src="`/api/v1/attendee/${item.id}/photo?time=${Date.now()}`"> -->
        <img width="30" :src="`/api/v1/attendee/${item.id}/photo`">
      </template>
      <template #item.action="{ item }">
        <v-tooltip bottom>
          <template #activator="{ on }">
            <v-icon small class="mr-2" v-on="on" @click="editAttendee(item)">
              mdi-pencil
            </v-icon>
          </template>
          Edit Attendee
        </v-tooltip>
        <v-tooltip bottom>
          <template #activator="{ on }">
            <v-icon small class="mr-2" v-on="on" @click="photoAttendee(item)">
              mdi-account-box
            </v-icon>
          </template>
          Photo Attendee
        </v-tooltip>
      </template>
      <template #no-data>
        No attendees found.
      </template>
    </v-data-table>
  </v-container>
</template>

<script>

export default {

  name: 'AttendeeList',

  layout: 'mgmt',

  data () {
    return {
      filter: {},
      footerProps: {
        itemsPerPageOptions: [20, 100, 500, -1]
      },
      headers: [
        {
          text: '#', value: 'index'
        },
        {
          text: 'First name', value: 'first_name'
        },
        {
          text: 'Last name', value: 'last_name'
        },
        {
          text: 'Category', value: 'category'
        },
        {
          text: 'Gender', value: 'gender'
        },
        {
          text: 'Photo', value: 'photo'
        },
        {
          text: 'Actions', value: 'action', sortable: false
        }
      ],
      enrs: [],
      search: ''
    }
  },

  computed: {
    token () { return this.$store.state.token.value }
  },

  mounted () {
    this.getAttendees()
  },

  methods: {

    addAttendee (item) {
      this.$router.push('/mgmt/attendeeadd')
    },

    editAttendee (item) {
      this.$router.push('/mgmt/attendeeedit/?id=' + item.id)
    },

    photoAttendee (item) {
      this.$router.push('/mgmt/attendeephoto/?id=' + item.id)
    },

    async getAttendees () {
      try {
        const resp = await this.$api.attendee.get_attendees({
          token: this.token
        })
        this.enrs = resp.data.attendees
      } catch (error) {
        const resp = error.response
        console.error('getting get_attendees', resp)
        if (resp.status === 401) {
          this.$router.push('/mgmt/login')
        } else {
          this.$root.$emit('snackbar', {
            text: 'Getting attendees failed',
            reason: resp.data.detail
          })
        }
      }
    },

    lightgreyRow (item) {
      return true
    },

    async refresh () {
      await this.getAttendees()
    }
  }

}
</script>

<style>
.lightgreyrow {
  color: #bbb;
}
</style>
