<template>
  <v-container
    grid-list-md
    class="elevation-1"
  >
    <v-row class="pa-2">
      <v-flex>
        <h1>Photo: {{ fullname }} </h1>
      </v-flex>
      <v-flex>
        <v-tooltip bottom>
          <template #activator="{ on }">
            <v-btn
              outlined
              fab
              color="blue-grey"
              v-on="on"
              @click="back()"
            >
              <v-icon>mdi-arrow-left</v-icon>
            </v-btn>
          </template>
          <span>Go Back</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template #activator="{ on }">
            <v-btn
              outlined
              fab
              color="blue-grey"
              v-on="on"
              @click="edit()"
            >
              <v-icon>mdi-pencil</v-icon>
            </v-btn>
          </template>
          <span>Edit</span>
        </v-tooltip>
      </v-flex>
    </v-row>
    <v-row>
      <v-flex>
        <h4>Existing photo</h4>
        <div>
          <img :src="`/api/v1/attendee/${p.id}/photo?time=${Date.now()}`">
        </div>
      </v-flex>
      <v-flex>
        <h4 class="mt-2">
          Drop photo
        </h4>
        <div class="my-1">
          <file-pond
            ref="pond"
            accepted-file-types="image/jpeg, image/png"
            :label-idle="labelIdle"
            class-name="dropbox"
            @addfile="handleFile"
          />
        </div>
      </v-flex>
    </v-row>
    <h4 class="mt-2">
      Photo source
    </h4>
    <div class="photosrc">
      <vue-cropper
        ref="photosrc"
        :view-mode="2"
        drag-mode="crop"
        :auto-crop-area="0.5"
        :background="true"
        src=""
        alt="Source Image"
        :aspect-ratio="0.8"
        preview="#photoresult"
        :img-style="{height: '400px'}"
      />
    </div>
    <h4 class="mt-2">
      Resulting photo
    </h4>
    <div
      id="photoresult"
      ref="photoresult"
      class="photoresult"
    />
    <div class="mt-2">
      <v-btn
        color="primary"
        @click="upload"
      >
        Upload
      </v-btn>
    </div>
    </div>
  </v-container>
</template>

<script>
import VueCropper from 'vue-cropperjs'
import vueFilePond from 'vue-filepond'
import 'cropperjs/dist/cropper.css'
import 'filepond/dist/filepond.min.css'

const FilePond = vueFilePond()

export default {

  components: {
    VueCropper,
    FilePond
  },

  layout: 'mgmt',

  data () {
    return {
      p: {},
      photo: null
    }
  },

  computed: {
    fullname () {
      return this.p.first_name + ' ' + this.p.last_name
    },
    labelIdle () {
      return '<span class="filepond--label-action">SubPhoto2</span>'
    },
    token () { return this.$store.state.token.value }
  },

  mounted () {
    const self = this
    this.$api.attendee.get_attendee({
      id: this.$route.query.id,
      token: this.token
    }).then(
      function (reply) {
        self.p = reply.data
      }
    )
  },

  methods: {

    back () {
      this.$router.go(-1)
    },

    edit () {
      this.$router.push('/mgmt/attendeeedit/?id=' + this.$route.query.id)
    },

    upload () {
      const photo = this.$refs.photosrc.getCroppedCanvas({ width: 160 }).toDataURL()
      this.$api.attendee.upload_photo({
        photo,
        id: this.p.id,
        token: this.token
      }).then(
        function (data) { console.log('Upload OK', data) },
        function (error) { console.error('Upload NOK', error) }
      )
    },

    handleFile (err, file) {
      if (err) {
        console.error('Nasty', err)
      }
      const reader = new FileReader()
      const self = this
      reader.onload = (event) => {
        self.$refs.photosrc.replace(event.target.result)
      }
      reader.readAsDataURL(file.file)
    }

  }

}
</script>

<style>
.dropbox {
  width: 100%;
}
.photosrc{
  overflow: hidden;
  width: 100%;
  height: 400px;
  border: 1px dashed #808080;
  background-color: #d3d3d3;
}
.photoresult {
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 160px;
  height: 200px;
}
</style>
