<template>
  <v-container>
    <v-row class="mt-3">
      <h2>Edit {{ att.first_name }} {{ att.last_name }}</h2>
      <v-spacer />
      <v-tooltip bottom>
        <template #activator="{ on }">
          <v-btn
            slot="activator"
            outlined
            fab
            color="deep-purple"
            v-on="on"
            @click="back()"
          >
            <v-icon>mdi-arrow-left</v-icon>
          </v-btn>
        </template>
        <span>Go Back</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template #activator="{ on }">
          <v-btn
            slot="activator"
            outlined
            fab
            color="deep-purple"
            v-on="on"
            @click="save()"
          >
            <v-icon>mdi-content-save</v-icon>
          </v-btn>
        </template>
        <span>Save attendee</span>
      </v-tooltip>
    </v-row>
    <v-row>
      <v-col cols="12" sm="6">
        <v-text-field v-model="att.last_name" label="Last name" />
        <v-text-field v-model="att.first_name" label="First name" />
        <v-select v-model="att.meals" label="Meals" :items="meals" />
        <v-select v-model="att.category" label="Categorie" :items="cats" />
      </v-col>
      <v-col cols="12" sm="6">
        <img :src="`/api/v1/attendee/${att.id}/photo?time=${Date.now()}`">
        <v-textarea v-model="att.remarks" label="Remarks" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

export default {

  name: 'AttendeeEdit',

  layout: 'mgmt',

  data () {
    return {
      cats: ['B8', 'B10', 'B12', 'B14', 'B16', 'B18', 'B20', 'G8', 'G10', 'G12', 'G14', 'G16', 'G18', 'G20', 'ORG', 'ARB', 'EAT'],
      idattendee: this.$route.query.id,
      att: {},
      meals: ['NO', 'HALF', 'FULL']
    }
  },

  computed: {
    token () { return this.$store.state.token.value }
  },

  mounted () {
    this.getAttendee()
  },

  methods: {

    back () {
      this.$router.go(-1)
    },

    async getAttendee () {
      try {
        const resp = await this.$api.attendee.get_attendee({
          emailattendant: this.att.emailattendant,
          first_name: this.att.first_name,
          id: this.$route.query.id,
          last_name: this.att.last_name,
          token: this.token
        })
        this.readAttendee(resp.data)
      } catch (error) {
        const resp = error.response
        console.error('getting getAttendee', resp)
        if (resp.status === 401) {
          this.$router.push('/mgmt/login')
        } else {
          this.$root.$emit('snackbar', { text: 'Getting attendee failed', reason: resp.data.detail })
        }
      }
    },

    readAttendee (attendee) {
      this.att = { ...attendee }
    },

    async save () {
      try {
        await this.$api.attendee.update_attendee({
          id: this.$route.query.id,
          category: this.att.category,
          emailattendant: this.att.emailattendant,
          emailparent: this.att.emailparent,
          emailplayer: this.att.emailplayer,
          first_name: this.att.first_name,
          fullnameattendant: this.att.fullnameattendant,
          fullnameparent: this.att.fullnameparent,
          gender: this.att.gender,
          idbel: this.att.idbel,
          idfide: this.att.idfide,
          idclub: this.att.idclub,
          last_name: this.att.last_name,
          locale: this.att.locale,
          meals: this.att.meals,
          mobileattendant: this.att.mobileattendant,
          mobileparent: this.att.mobileparent,
          mobileplayer: this.att.mobileplayer,
          rating: this.att.rating,
          remarks: this.att.remarks,
          token: this.token
        })
        console.log('save successful')
        this.$root.$emit('snackbar', { text: 'Attendee saved' })
      } catch (error) {
        const resp = error.response
        console.error('saving attendee', resp || error)
        if (resp.status === 401) {
          this.$router.push('/mgmt/login')
        } else {
          this.$root.$emit('snackbar', {
            text: 'Saving attendee failed',
            reason: resp.data.detail
          })
        }
      }
    }

  }

}
</script>

<style scoped>
.bordermd {
  border: 1px solid grey;
}
</style>
