<template>
  <v-container>
    <v-row class="mt-3">
      <h2>Add Attendee</h2>
      <v-spacer />
      <v-tooltip bottom>
        <template #activator="{ on }">
          <v-btn
            slot="activator"
            outlined
            fab
            color="deep-purple"
            v-on="on"
            @click="back()"
          >
            <v-icon>mdi-arrow-left</v-icon>
          </v-btn>
        </template>
        <span>Go Back</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template #activator="{ on }">
          <v-btn
            slot="activator"
            outlined
            fab
            color="deep-purple"
            v-on="on"
            @click="save()"
          >
            <v-icon>mdi-content-save</v-icon>
          </v-btn>
        </template>
        <span>Save attendee</span>
      </v-tooltip>
    </v-row>
    <v-row>
      <v-col cols="12" sm="6">
        <v-text-field v-model="att.last_name" label="Last name" />
        <v-text-field v-model="att.first_name" label="First name" />
        <v-select v-model="att.meals" label="Meals" :items="meals" />
        <v-select v-model="att.category" label="Categorie" :items="cats" />
      </v-col>
      <v-col cols="12" sm="6">
        <v-textarea v-model="att.remarks" label="Remarks" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

export default {

  name: 'AttendeeEdit',

  layout: 'mgmt',

  data () {
    return {
      cats: ['B8', 'B10', 'B12', 'B14', 'B16', 'B18', 'B20', 'G8', 'G10', 'G12', 'G14', 'G16', 'G18', 'G20', 'ORG', 'ARB', 'EAT'],
      att: {},
      meals: ['NO', 'HALF', 'FULL']
    }
  },

  computed: {
    token () { return this.$store.state.token.value }
  },

  methods: {

    back () {
      this.$router.go(-1)
    },

    async save () {
      try {
        await this.$api.attendee.add_attendee({
          category: this.att.category,
          first_name: this.att.first_name,
          last_name: this.att.last_name,
          meals: this.att.meals,
          remarks: this.att.remarks,
          token: this.token
        })
        console.log('save successful')
        this.$root.$emit('snackbar', { text: 'Attendee added' })
        this.back()
      } catch (error) {
        const resp = error.response
        console.error('adding attendee', resp || error)
        if (resp.status === 401) {
          this.$router.push('/mgmt/login')
        } else {
          this.$root.$emit('snackbar', {
            text: 'Saving attendee failed',
            reason: resp.data.detail
          })
        }
      }
    }

  }

}
</script>
