<template>
  <v-container>
    <v-row class="mt-3">
      <h2>Edit {{ enr.first_name }} {{ enr.last_name }}</h2>
      <v-spacer />
      <v-tooltip bottom>
        <template #activator="{ on }">
          <v-btn
            slot="activator"
            outlined
            fab
            color="deep-purple"
            v-on="on"
            @click="back()"
          >
            <v-icon>mdi-arrow-left</v-icon>
          </v-btn>
        </template>
        <span>Go Back</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template #activator="{ on }">
          <v-btn
            slot="activator"
            outlined
            fab
            color="deep-purple"
            v-on="on"
            @click="save()"
          >
            <v-icon>mdi-content-save</v-icon>
          </v-btn>
        </template>
        <span>Save enrollment</span>
      </v-tooltip>
    </v-row>
    <v-row>
      <v-col cols="12" sm="6">
        <v-text-field v-model="enr.last_name" label="Last name" />
        <v-text-field v-model="enr.first_name" label="First name" />
        <p>Birthyear:  {{ enr.birthyear }}</p>
        <v-select v-model="enr.category" label="Categorie" :items="cats" />
        <p>Confirmed:  {{ enr.confirmed }}</p>
        <p>Registration time:  {{ enr.registrationtime }}</p>
        <v-text-field v-model="enr.gender" label="Gender" />
        <v-text-field v-model="enr.idbel" label="Belgian ID" />
        <v-text-field v-model="enr.idfide" label="FIDE ID" />
        <v-text-field v-model="enr.idclub" label="Club ID" />
        <v-text-field v-model="enr.locale" label="Locale" />
        <v-text-field v-model="enr.nationalitybel" label="Belgian nationality" />
        <v-text-field v-model="enr.nationalityfide" label="Fide natinality" />
        <v-select v-model="enr.natstatus" label="Can become champion" :items="canbechampion" />
      </v-col>
      <v-col cols="12" sm="6">
        <p><v-switch v-model="enr.enabled" label="Enable enrollment" /></p>
        <v-text-field v-model="enr.emailplayer" label="Email player" />
        <v-text-field v-model="enr.mobileplayer" label="Mobile player" />
        <v-text-field v-model="enr.fullnameparent" label="Full name parent" />
        <v-text-field v-model="enr.emailparent" label="Email parent" />
        <v-text-field v-model="enr.mobileparent" label="Mobile parent" />
        <v-text-field v-model="enr.fullnameattendant" label="Full name attedant at site" />
        <v-text-field v-model="enr.emailattendant" label="Email attendant at site" />
        <v-text-field v-model="enr.mobileattendant" label="Mobile attendant at site" />
        <v-text-field v-model="enr.ratingbel" label="Belgian rating" />
        <v-text-field v-model="enr.ratingfide" label="Fide rating" />
        <v-textarea v-model="enr.remarks" label="Remarks" />
      </v-col>
    </v-row>
    <v-card>
      <v-card-title>
        Payment Request
      </v-card-title>
      <v-card-text>
        <div v-if="!enr.payment_id">
          <v-switch v-model="admincost" label="With 10 Euro admin cost" />
          <v-btn @click="create_pr">
            Create
          </v-btn>
        </div>
        <div v-if="enr.payment_id">
          <v-btn :to="'/mgmt/paymentrequestedit?id=' + enr.payment_id">
            Show
          </v-btn>
          <v-btn @click="delete_pr">
            Delete
          </v-btn>
        </div>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>

import { canbechampion } from '@/util/const'

export default {

  name: 'EnrollmentEdit',

  layout: 'mgmt',

  data () {
    return {
      admincost: true,
      cats: ['B8', 'B10', 'B12', 'B14', 'B16', 'B18', 'B20', 'G8', 'G10', 'G12', 'G14', 'G16', 'G18', 'G20'],
      canbechampion,
      idenrollment: this.$route.query.id,
      enr: {}
    }
  },

  computed: {
    token () { return this.$store.state.token.value }
  },

  mounted () {
    this.getEnrollment()
  },

  methods: {

    back () {
      this.$router.go(-1)
    },

    async getEnrollment () {
      try {
        const resp = await this.$api.enrollment.get_enrollment({
          emailattendant: this.enr.emailattendant,
          first_name: this.enr.first_name,
          id: this.$route.query.id,
          last_name: this.enr.last_name,
          token: this.token
        })
        this.readEnrollment(resp.data)
      } catch (error) {
        const resp = error.response
        console.error('getting getEnrollment', resp)
        if (resp.status === 401) {
          this.$router.push('/mgmt/login')
        } else {
          this.$root.$emit('snackbar', { text: 'Getting enrollment failed', reason: resp.data.detail })
        }
      }
    },

    readEnrollment (enrollment) {
      this.enr = { ...enrollment }
    },

    async save () {
      try {
        await this.$api.enrollment.update_enrollment({
          id: this.$route.query.id,
          category: this.enr.category,
          confirmed: this.enr.confirmed,
          emailattendant: this.enr.emailattendant,
          emailparent: this.enr.emailparent,
          emailplayer: this.enr.emailplayer,
          enabled: this.enr.enabled,
          first_name: this.enr.first_name,
          fullnameattendant: this.enr.fullnameattendant,
          fullnameparent: this.enr.fullnameparent,
          gender: this.enr.gender,
          idbel: this.enr.idbel,
          idfide: this.enr.idfide,
          idclub: this.enr.idclub,
          last_name: this.enr.last_name,
          locale: this.enr.locale,
          mobileattendant: this.enr.mobileattendant,
          mobileparent: this.enr.mobileparent,
          mobileplayer: this.enr.mobileplayer,
          nationalitybel: this.enr.nationalitybel,
          nationalityfide: this.enr.nationalityfide,
          natstatus: this.enr.natstatus,
          ratingbel: this.enr.ratingbel,
          ratingfide: this.enr.ratingfide,
          remarks: this.enr.remarks,
          token: this.token
        })
        console.log('save successful')
        this.$root.$emit('snackbar', { text: 'Enrollment saved' })
      } catch (error) {
        const resp = error.response
        console.error('saving enrollment', resp || error)
        if (resp.status === 401) {
          this.$router.push('/mgmt/login')
        } else {
          this.$root.$emit('snackbar', {
            text: 'Saving enrollment failed',
            reason: resp.data.detail
          })
        }
      }
    },

    async create_pr () {
      try {
        const resp = await this.$api.enrollment.create_pr({
          id: this.$route.query.id,
          admincost: this.admincost,
          token: this.token
        })
        console.log('resp after create_pr', resp)
        this.$router.push('/mgmt/paymentrequestedit/?id=' + resp.data)
      } catch (error) {
        const resp = error.response
        console.error('creating payment request', resp)
        if (resp.status === 401) {
          this.$router.push('/mgmt/login')
        } else {
          this.$root.$emit('snackbar', { text: 'Creating paymentrequesr failed', reason: resp.data.detail })
        }
      }
    },

    async delete_pr () {
      if (confirm('Are you sure to delete the linked payment request')) {
        try {
          await this.$api.enrollment.delete_pr({
            id: this.$route.query.id,
            token: this.token
          })
          this.getEnrollment()
        } catch (error) {
          const resp = error.response
          console.error('deleting linked payment request', resp)
          if (resp.status === 401) {
            this.$router.push('/mgmt/login')
          } else {
            this.$root.$emit('snackbar', { text: 'Deleting Paymentrequest failed', reason: resp.data.detail })
          }
        }
      }
    }

  }

}
</script>

<style scoped>
.bordermd {
  border: 1px solid grey;
}
</style>
