<template>
  <v-container>
    <h1>Management Enrollments</h1>
    <v-data-table
      :headers="headers"
      :items="enrs"
      :item-class="lightgreyRow"
      :footer-props="footerProps"
      class="elevation-1"
      :sort-by="['last_name']"
      :search="search"
    >
      <template #top>
        <v-card color="grey lighten-4">
          <v-card-title>
            <v-row class="px-2">
              <v-text-field
                v-model="search"
                label="Search"
                class="mx-4"
                append-icon="mdi-magnify"
                hide_details
              />
              <v-spacer />
              <v-tooltip bottom>
                <template #activator="{ on }">
                  <v-btn fab outlined color="deep-purple" v-on="on" @click="dowmloadEnrollments()">
                    <v-icon>mdi-download-multiple</v-icon>
                  </v-btn>
                </template>
                Download Enrollments
              </v-tooltip>
              <v-tooltip bottom>
                <template #activator="{ on }">
                  <v-btn fab outlined color="deep-purple" v-on="on" @click="refresh()">
                    <v-icon>mdi-refresh</v-icon>
                  </v-btn>
                </template>
                Refresh
              </v-tooltip>
            </v-row>
          </v-card-title>
        </v-card>
      </template>
      <template #item.index="{ index }">
        {{ index + 1 }}
      </template>
      <template #item.action="{ item }">
        <v-tooltip bottom>
          <template #activator="{ on }">
            <v-icon small class="mr-2" v-on="on" @click="editEnrollment(item)">
              mdi-pencil
            </v-icon>
          </template>
          Edit Enrollment
        </v-tooltip>
        <v-tooltip v-if="item.payment_id" bottom>
          <template #activator="{ on }">
            <v-icon small class="mr-2" v-on="on" @click="gotoPaymentRequest(item)">
              mdi-currency-eur
            </v-icon>
          </template>
          Show payment request
        </v-tooltip>
      </template>
      <template #no-data>
        No enrollments found.
      </template>
    </v-data-table>
  </v-container>
</template>

<script>

export default {

  name: 'EnrollmentList',

  layout: 'mgmt',

  data () {
    return {
      filter: {},
      footerProps: {
        itemsPerPageOptions: [100, 500, -1]
      },
      headers: [
        {
          text: '#', value: 'index'
        },
        {
          text: 'First name', value: 'first_name'
        },
        {
          text: 'Last name', value: 'last_name'
        },
        {
          text: 'Category', value: 'category'
        },
        {
          text: 'Gender', value: 'gender'
        },
        {
          text: 'Actions', value: 'action', sortable: false
        }
      ],
      enrs: [],
      search: ''
    }
  },

  computed: {
    token () { return this.$store.state.token.value }
  },

  mounted () {
    this.getEnrollments()
  },

  methods: {

    async dowmloadEnrollments () {
      try {
        const resp = await this.$api.enrollment.xls_enrollments({
          authorization: 'Bearer ' + this.token
        })
        console.log('resp', resp)
        this.xls = resp.data.xls64
      } catch (error) {
        console.log('error', error)
        return
      }
      const link = document.createElement('a')
      link.download = 'enrollments.xlsx'
      link.href = 'data:aaplication/excel;base64,' + this.xls
      document.body.appendChild(link)
      link.click()
      document.body.removeChild(link)
      this.$root.$emit('snackbar', {
        text: 'Downloading enrollments succesful',
        color: 'black'
      })
    },

    editEnrollment (item) {
      this.$router.push('/mgmt/enrollmentedit/?id=' + item.id)
    },

    async getEnrollments () {
      try {
        const resp = await this.$api.enrollment.get_enrollments({
          token: this.token
        })
        this.enrs = resp.data.enrollments
      } catch (error) {
        const resp = error.response
        console.error('getting get_enrollments', resp)
        if (resp.status === 401) {
          this.$router.push('/mgmt/login')
        } else {
          this.$root.$emit('snackbar', {
            text: 'Getting enrollments failed',
            reason: resp.data.detail
          })
        }
      }
    },

    gotoPaymentRequest (item) {
      this.$router.push('/mgmt/paymentrequestedit?id=' + item.payment_id)
    },

    lightgreyRow (item) {
      if (!item.enabled) {
        return 'lightgreyrow'
      }
    },
    async refresh () {
      await this.getEnrollments()
    }
  }

}
</script>

<style>
.lightgreyrow {
  color: #bbb;
}
</style>
