<template>
  <v-container>
    <v-card>
      <v-card-title>Management Bycco</v-card-title>
      <v-card-text>
        Select object to manage
        <v-list>
          <v-list-item to="/mgmt/reservationlist">
            Reservations
          </v-list-item>
          <v-list-item to="/mgmt/roomlist">
            Rooms
          </v-list-item>
          <v-list-item to="/mgmt/enrollmentlist">
            Enrollments
          </v-list-item>
          <v-list-item to="/mgmt/paymentrequestlist">
            Payment Requests
          </v-list-item>
          <v-list-item to="/mgmt/attendeelist">
            Attendees
          </v-list-item>
        </v-list>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
export default {
  layout: 'mgmt',

  head: {
    title: 'Partners',
    link: [
      {
        rel: 'stylesheet',
        href:
          'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'
      },
      {
        rel: 'stylesheet',
        href: 'https://fonts.googleapis.com/css?family=Material+Icons'
      },
      {
        rel: 'stylesheet',
        href:
          'https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css'
      },
      { rel: 'favicon', href: 'favicon.ico' }
    ],
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { hid: 'home', name: 'description', content: 'Meta description' }
    ],
    script: [
      {
        src: 'https://apis.google.com/js/platform.js',
        async: true,
        defer: true
      }
    ]
  },

  computed: {
    token () { return this.$store.state.token.value }
  },


  mounted() {
    console.log('token', this.token)
    if (!this.token) {
      this.$router.push('/mgmt/login')
    }

  }

}
</script>
