<template>
  <v-container>
    <h1>Payment Requests</h1>
    <v-data-table
      :headers="headers"
      :items="prqs"
      item-class="lightgreyrow"
      :footer-props="footerProps"
      class="elevation-1"
      :sort-by="['name','modified']"
      :search="search"
    >
      <template #top>
        <v-card color="grey lighten-4">
          <v-card-title>
            <v-row class="px-2">
              <v-text-field
                v-model="search"
                label="Search"
                class="mx-4"
                append-icon="mdi-magnify"
                hide_details
              />
              <v-spacer />
              <v-tooltip bottom>
                <template #activator="{ on }">
                  <v-btn
                    fab
                    outlined
                    color="deep-purple"
                    v-on="on"
                    @click="downloadPaymentRequests()"
                  >
                    <v-icon>mdi-download-multiple</v-icon>
                  </v-btn>
                </template>
                Download Paymentrequests
              </v-tooltip>
              <v-tooltip bottom>
                <template #activator="{ on }">
                  <v-btn
                    fab
                    outlined
                    color="deep-purple"
                    v-on="on"
                    @click="refresh()"
                  >
                    <v-icon>mdi-refresh</v-icon>
                  </v-btn>
                </template>
                Refresh
              </v-tooltip>
            </v-row>
          </v-card-title>
        </v-card>
      </template>
      <template #item.link_id="{ item }">
        <NuxtLink
          v-if="item.link_id"
          :to="'/mgmt/reservationedit?id=' + item.link_id"
        >
          link
        </NuxtLink>
      </template>
      <template #item.action="{ item }">
        <v-tooltip bottom>
          <template #activator="{ on }">
            <v-icon small class="mr-2" v-on="on" @click="editPaymentRequest(item)">
              mdi-pencil
            </v-icon>
          </template>
          Edit Paymentrequests
        </v-tooltip>
      </template>
      <template #no-data>
        No paymentrequests found.
      </template>
    </v-data-table>
  </v-container>
</template>

<script>

export default {

  name: 'Paymentrequestlist',

  layout: 'mgmt',

  data () {
    return {
      filter: {},
      footerProps: {
        itemsPerPageOptions: [150, -1]
      },
      headers: [
        {
          text: 'PR nr', value: 'number'
        },
        {
          text: 'Reason', value: 'reason'
        },
        {
          text: 'Last Name', value: 'last_name'
        },
        {
          text: 'First Name', value: 'first_name'
        },
        {
          text: 'Total price', value: 'totalprice'
        },
        {
          text: 'Status', value: 'paystatus'
        },
        {
          text: 'Message', value: 'paymessage'
        },
        {
          text: 'Link', value: 'link_id'
        },
        {
          text: 'Actions', value: 'action', sortable: false
        }
      ],
      prqs: [],
      search: ''
    }
  },

  computed: {
    token () { return this.$store.state.token.value }
  },

  mounted () {
    this.getPaymentRequests()
  },

  methods: {

    downloadPaymentRequests () {
      alert('TODO')
    },

    editPaymentRequest (item) {
      this.$router.push('/mgmt/paymentrequestedit/?id=' + item.id)
    },

    async getPaymentRequests () {
      try {
        const resp = await this.$api.paymentrequest.get_paymentrequests({
          token: this.token
        })
        this.prqs = resp.data.paymentrequests
        console.log('prqs', this.prqs)
      } catch (error) {
        const resp = error.response
        console.error('getting paymentrequests', resp)
        if (resp.status === 401) {
          this.$router.push('/mgmt/login')
        } else {
          this.$root.$emit('snackbar', { text: 'Getting paymentrequests failed', reason: resp.data.detail })
        }
      }
    },

    async refresh () {
      await this.getPaymentRequests()
    }

  }

}
</script>

<style>
.lightgreyrow {
  color: #bbb;
}
</style>
