<template>
  <v-container>
    <v-row>
      <h2>Payment request {{ prq.number }}: {{ prq.last_name }} {{ prq.first_name }}</h2>
      <v-spacer />
      <v-tooltip bottom>
        <template #activator="{ on }">
          <v-btn
            slot="activator"
            outlined
            fab
            color="deep-purple"
            v-on="on"
            @click="back()"
          >
            <v-icon>mdi-arrow-left</v-icon>
          </v-btn>
        </template>
        <span>Go Back</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template #activator="{ on }">
          <v-btn
            slot="activator"
            outlined
            fab
            color="deep-purple"
            v-on="on"
            @click="email()"
          >
            <v-icon>mdi-email</v-icon>
          </v-btn>
        </template>
        <span>Email</span>
      </v-tooltip>
    </v-row>
    <v-card class="my-3">
      <v-card-title>
        Register payment
      </v-card-title>
      <v-card-text>
        <v-switch v-model="prq.paystatus" label="Paid" color="deep-purple" />
        <v-textarea v-model="prq.remarks" rows="2" label="Remarks" /></v-textarea>
      </v-card-text>
      <v-card-actions>
        <v-btn @click="registerPayment">
          Register Payment
        </v-btn>
      </v-card-actions>
    </v-card>
    <v-card class="my-3">
      <v-card-title>
        Properties
      </v-card-title>
      <v-card-text>
        <v-row>
          <v-col cols="12" sm="6">
            <p>Reason: {{ prq.reason }}</p>
            <p>Email sent: {{ prq.sentdate }}</p>
            <v-text-field v-model="prq.last_name" label="Last name" />
            <v-text-field v-model="prq.first_name" label="First name" />
            <v-textarea v-model="prq.address" label="Address" />
          </v-col>
          <v-col cols="12" sm="6">
            <p>Total cost: <b>{{ prq.totalprice }} €</b></p>
            <p>Guests: {{ prq.guests }}</p>
            <v-text-field v-model="prq.email" label="E-mail" />
            <v-text-field v-model="prq.mobile" label="Mobile" />
            <v-text-field v-model="prq.locale" label="Language" />
            <v-text-field v-model="prq.reductionamount" label="Reduction fixed amount" />
            <v-text-field v-model="prq.reductionpct" label="Reduction pct" />
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-btn @click="saveProperties">
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
    <v-card class="my-3">
      <v-card-title>Details</v-card-title>
      <v-card-text>
        <v-row v-for="(d, ix) in prq.details" :key="ix" class="mt-2">
          <v-col cols="2" sm="2" md="1">
            {{ ix + 1 }}
          </v-col>
          <v-col cols="10" sm="10" md="5">
            {{ d.description }}
          </v-col>
          <v-col cols="4" sm="4" md="2" class="text-right">
            {{ d.unitprice }} {{ d.unitprice ? "€" : "" }}
          </v-col>
          <v-col cols="4" sm="4" md="2" class="text-right">
            {{ d.quantity }}
          </v-col>
          <v-col cols="4" sm="4" md="2" class="text-right">
            {{ d.totalprice }} €
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions />
    </v-card>
  </v-container>
</template>

<script>

export default {

  name: 'PaymentRequestedit',

  layout: 'mgmt',

  data () {
    return {
      assignment: { roomtype: '', roomnumber: '' },
      dialogDelete: false,
      idpaymentrequest: this.$route.query.id,
      newguest: {},
      period: {},
      roomtypes: [],
      roomnumbers: [],
      prq: {}
    }
  },

  computed: {
    token () { return this.$store.state.token.value }
  },

  mounted () {
    this.get_paymentrequest()
  },

  methods: {

    back () {
      this.$router.go(-1)
    },

    async email () {
      try {
        await this.$api.paymentrequest.email({
          id: this.$route.query.id,
          token: this.token
        })
        this.get_paymentrequest()
      } catch (error) {
        const resp = error.response
        console.error('emailing paymentrequest', resp)
        if (resp.status === 401) {
          this.$router.push('/mgmt/login')
        } else {
          this.$root.$emit('snackbar', { text: 'Emailing paymentrequest failed', reason: resp.data.detail })
        }
      }
    },

    async get_paymentrequest () {
      console.log('fetching the payment request', this.$route)
      try {
        const resp = await this.$api.paymentrequest.get_paymentrequest({
          id: this.$route.query.id,
          token: this.token
        })
        this.readPaymentRequest(resp.data)
      } catch (error) {
        const resp = error.response
        console.error('getting getPaymentRequests', resp)
        if (resp.status === 401) {
          this.$router.push('/mgmt/login')
        } else {
          this.$root.$emit('snackbar', { text: 'Getting paymentrequest failed', reason: resp.data.detail })
        }
      }
    },

    readPaymentRequest (paymentrequest) {
      this.prq = { ...paymentrequest }
    },

    async registerPayment () {
      console.log('saving props paymentrequest')
      try {
        await this.$api.paymentrequest.update_paymentrequest({
          id: this.prq.id,
          remarks: this.prq.remarks,
          paystatus: this.prq.paystatus,
          paydate: (new Date()).toISOString().substring(0, 10),
          token: this.token
        })
        this.$root.$emit('snackbar', { text: 'PaymentRequest saved' })
        this.get_paymentrequest()
      } catch (error) {
        const resp = error.response
        console.error('saving getPaymentRequest', resp)
        if (resp.status === 401) {
          this.$router.push('/mgmt/login')
        } else {
          this.$root.$emit('snackbar', { text: 'Saving paymentrequest failed', reason: resp.data.detail })
        }
      }
    },

    async saveProperties () {
      console.log('saving props paymentrequest')
      // we do the request on the reservation endpoint
      try {
        await this.$api.reservation.update_pr({
          id: this.prq.link_id,
          paymentrequest: {
            address: this.prq.address,
            bycco_remarks: this.prq.bycco_remarks,
            checkindate: this.prq.checkindate,
            checkoutdate: this.prq.checkoutdate,
            email: this.prq.email,
            enabled: this.prq.enabled,
            first_name: this.prq.first_name,
            last_name: this.prq.last_name,
            locale: this.prq.locale,
            lodging: this.prq.lodging,
            meals: this.prq.meals,
            mobile: this.prq.mobile,
            organizers: this.prq.organizers,
            remarks: this.prq.remarks,
            reductionamount: this.prq.reductionamount,
            reductionpct: this.prq.reductionpct
          },
          token: this.token
        })
        this.$root.$emit('snackbar', { text: 'PaymentRequest saved' })
        this.get_paymentrequest()
      } catch (error) {
        const resp = error.response
        console.error('saving getPaymentRequest', resp)
        if (resp.status === 401) {
          this.$router.push('/mgmt/login')
        } else {
          this.$root.$emit('snackbar', { text: 'Saving paymentrequest failed', reason: resp.data.detail })
        }
      }
    }

  }

}
</script>

<style scoped>
.bordermd {
  border: 1px solid grey;
}
.v-input--checkbox { margin-top:0; }
</style>
