<template>
  <v-container>
    <h1>Management Reservations</h1>
    <v-data-table
      :headers="headers"
      :items="reservations"
      :item-class="lightgreyRow"
      :footer-props="footerProps"
      class="elevation-1"
      :sort-by="['name','modified']"
      :search="search"
    >
      <template #top>
        <v-card color="grey lighten-4">
          <v-card-title>
            <v-row class="px-2">
              <v-text-field
                v-model="search"
                label="Search"
                class="mx-4"
                append-icon="mdi-magnify"
                hide_details
              />
              <v-spacer />
              <v-tooltip bottom>
                <template #activator="{ on }">
                  <v-btn
                    fab
                    outlined
                    color="deep-purple"
                    v-on="on"
                    @click="downloadReservations()"
                  >
                    <v-icon>mdi-download-multiple</v-icon>
                  </v-btn>
                </template>
                Download Reservations
              </v-tooltip>
              <v-tooltip bottom>
                <template #activator="{ on }">
                  <v-btn
                    fab
                    outlined
                    color="deep-purple"
                    v-on="on"
                    @click="refresh()"
                  >
                    <v-icon>mdi-refresh</v-icon>
                  </v-btn>
                </template>
                Refresh
              </v-tooltip>
            </v-row>
          </v-card-title>
        </v-card>
      </template>
      <template #item._creationtime="{ item }">
        {{ (new Date(item._creationtime)).toLocaleDateString($i18n.locale, { dateStyle: 'medium' }) }}
      </template>
      <template #item.guestlist="{ item }">
        {{ item.guestlist.length }}
      </template>
      <template #item.payment_id="{ item }">
        <NuxtLink
          v-if="item.payment_id"
          :to="'/mgmt/paymentrequestedit?id=' + item.payment_id"
        >
          link
        </NuxtLink>
      </template>
      <template #item.action="{ item }">
        <v-tooltip bottom>
          <template #activator="{ on }">
            <v-icon small class="mr-2" v-on="on" @click="editReservation(item)">
              mdi-pencil
            </v-icon>
          </template>
          Edit Reservation
        </v-tooltip>
        <v-tooltip v-if="item.payment_id" bottom>
          <template #activator="{ on }">
            <v-icon small class="mr-2" v-on="on" @click="gotoPaymentRequest(item)">
              mdi-currency-eur
            </v-icon>
          </template>
          Show payment request
        </v-tooltip>
      </template>
      <template #no-data>
        No reservations found.
      </template>
    </v-data-table>
  </v-container>
</template>

<script>

export default {

  name: 'Reservationlist',

  layout: 'mgmt',

  data () {
    return {
      footerProps: {
        itemsPerPageOptions: [150, -1]
      },
      headers: [
        {
          text: 'Request nr', value: 'number'
        },
        {
          text: 'Last Name', value: 'last_name'
        },
        {
          text: 'First Name', value: 'first_name'
        },
        {
          text: 'Request date', value: '_creationtime'
        },
        {
          text: 'Request room', value: 'lodging'
        },
        {
          text: '# guests', value: 'guestlist'
        },
        {
          text: 'room', value: 'room'
        },
        {
          text: 'Actions', value: 'action', sortable: false
        }
      ],
      reservations: [],
      search: ''
    }
  },

  computed: {
    token () { return this.$store.state.token.value }
  },

  mounted () {
    this.getReservations()
  },

  methods: {

    editReservation (item) {
      this.$router.push('/mgmt/reservationedit/?id=' + item.id)
    },

    async downloadReservations () {
      try {
        const resp = await this.$api.reservation.xls_reservations({
          authorization: 'Bearer ' + this.token
        })
        console.log('resp', resp)
        this.xls = resp.data.xls64
      } catch (error) {
        console.log('error', error)
        return
      }
      const link = document.createElement('a')
      link.download = 'reservations.xlsx'
      link.href = 'data:aaplication/excel;base64,' + this.xls
      document.body.appendChild(link)
      link.click()
      document.body.removeChild(link)
      this.$root.$emit('snackbar', {
        text: 'Downloading enrollments succesful',
        color: 'black'
      })
    },

    async getReservations () {
      try {
        const resp = await this.$api.reservation.get_reservations({
          token: this.token
        })
        this.reservations = resp.data.reservations
        this.reservations.forEach((r) => {
          const rooms = r.assignments ? Array.from(r.assignments, a => a.roomnr) : []
          r.room = rooms.join(',')
        })
        console.log('rsv', this.reservations)
      } catch (error) {
        const resp = error.response
        console.error('getting getreservations', resp)
        if (resp.status === 401) {
          this.$router.push('/mgmt/login')
        } else {
          this.$root.$emit('snackbar', { text: 'Getting reservations failed', reason: resp.data.detail })
        }
      }
    },

    gotoPaymentRequest (item) {
      this.$router.push('/mgmt/paymentrequestedit?id=' + item.payment_id)
    },

    lightgreyRow (item) {
      if (!item.enabled) {
        return 'lightgreyrow'
      }
    },
    async refresh () {
      await this.getReservations()
    }

  }

}
</script>

<style>
.lightgreyrow {
  color: #bbb;
}
</style>
