<template>
  <v-container>
    <v-row class="mt-3">
      <h2>Edit Room {{ room.number }}</h2>
      <v-spacer />
      <v-tooltip bottom>
        <template #activator="{ on }">
          <v-btn
            slot="activator"
            outlined
            fab
            color="deep-purple"
            v-on="on"
            @click="back()"
          >
            <v-icon>mdi-arrow-left</v-icon>
          </v-btn>
        </template>
        <span>Go Back</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template #activator="{ on }">
          <v-btn
            slot="activator"
            outlined
            fab
            color="deep-purple"
            v-on="on"
            @click="save()"
          >
            <v-icon>mdi-content-save</v-icon>
          </v-btn>
        </template>
        <span>Save room</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template #activator="{ on }">
          <v-btn
            slot="activator"
            outlined
            fab
            color="deep-purple"
            v-on="on"
            @click="remove()"
          >
            <v-icon>mdi-delete</v-icon>
          </v-btn>
        </template>
        <span>Delete room</span>
      </v-tooltip>
    </v-row>
    <v-row>
      <v-col cols="12" sm="6">
        <p>Room number: {{ room.number }}</p>
        <p>Room type: {{ room.roomtype }}</p>
        <p>Room type Floreal: {{ room.florealtype }}</p>
        <p>Minimal capacity: {{ room.capacitymin }}</p>
        <p>Maximal capacity: {{ room.capacitymax }}</p>
      </v-col>
      <v-col cols="12" sm="6">
        <p>Description: {{ room.description }}</p>
        <p>Reservation nr: {{ room.reservation_nr }}</p>
        <p>Reservation id: {{ room.reservation_id }}</p>
        <p><v-switch v-model="blocked" label="Block room" /> </p>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

export default {

  name: 'Roomedit',

  layout: 'mgmt',

  data () {
    return {
      blocked: false,
      idroom: this.$route.query.id,
      room: {}
    }
  },

  computed: {
    token () { return this.$store.state.token.value }
  },

  mounted () {
    this.getRoom()
  },

  methods: {

    back () {
      this.$router.go(-1)
    },

    async getRoom () {
      try {
        const resp = await this.$api.reservation.get_room({
          id: this.$route.query.id,
          token: this.token
        })
        this.readRoom(resp.data)
      } catch (error) {
        const resp = error.response
        console.error('getting getRoom', resp)
        if (resp.status === 401) {
          this.$router.push('/mgmt/login')
        } else {
          this.$root.$emit('snackbar', { text: 'Getting room failed', reason: resp.data.detail })
        }
      }
    },

    readRoom (room) {
      this.room = { ...room }
    },

    async save () {
      const self = this; const ls = []
      this.langurooms.forEach(function (l) {
        if (self.enabled[l]) {
          ls.push(l)
          if (!self.p.body[l]) {
            self.p.body[l] = { ...self.p.body.default }
          }
          self.p.body[l].value = self.bodys[l]
          if (!self.p.intro[l]) {
            self.p.intro[l] = { ...self.p.intro.default }
          }
          self.p.intro[l].value = self.intros[l]
          if (!self.p.title[l]) {
            self.p.title[l] = { ...self.p.title.default }
          }
          self.p.title[l].value = self.titles[l]
        } else {
          delete self.p.body[l]
          delete self.p.intro[l]
          delete self.p.title[l]
        }
      })
      try {
        await this.$api.proom.update_proom({
          id: this.$route.query.id,
          body: this.p.body,
          component: this.p.component,
          doctype: this.p.doctype,
          enabled: this.p.enabled,
          expirationdate: this.p.expirationdate,
          intro: this.p.intro,
          langurooms: ls,
          name: this.p.name,
          owner: this.p.owner,
          publicationdate: this.p.publicationdate,
          slug: this.p.slug,
          title: this.p.title,
          token: this.token
        })
        console.log('save successful')
        this.$root.$emit('snackbar', { text: 'Room saved' })
      } catch (error) {
        const resp = error.response
        console.error('getting getRooms', resp)
        if (resp.status === 401) {
          this.$router.push('/mgmt/login')
        } else {
          this.$root.$emit('snackbar', { text: 'Saving proom failed', reason: resp.data.detail })
        }
      }
    }

  }

}
</script>

<style scoped>
.bordermd {
  border: 1px solid grey;
}
</style>
