<template>
  <v-container>
    <h1>Management Rooms</h1>
    <v-data-table
      :headers="headers"
      :items="rooms"
      :footer-props="footerProps"
      class="elevation-1"
      :sort-by="['number']"
    >
      <template #top>
        <v-card color="grey lighten-4">
          <v-card-title>
            <v-row class="px-2">
              <v-spacer />
              <v-tooltip bottom>
                <template #activator="{ on }">
                  <v-btn
                    fab
                    outlined
                    color="deep-purple"
                    v-on="on"
                    @click="dowmloadRooms()"
                  >
                    <v-icon>mdi-download-multiple</v-icon>
                  </v-btn>
                </template>
                Download Rooms
              </v-tooltip>
            </v-row>
          </v-card-title>
        </v-card>
      </template>
      <template #item.action="{ item }">
        <v-tooltip bottom>
          <template #activator="{ on }">
            <v-icon small class="mr-2" v-on="on" @click="editRoom(item)">
              mdi-pencil
            </v-icon>
          </template>
          Edit Room
        </v-tooltip>
      </template>
      <template #no-data>
        No rooms found.
      </template>
    </v-data-table>
  </v-container>
</template>

<script>

export default {

  name: 'Roomlist',

  layout: 'mgmt',

  data () {
    return {
      filter: {},
      footerProps: {
        itemsPerPageOptions: [30, 120, -1]
      },
      headers: [
        {
          text: 'Number', value: 'number'
        },
        {
          text: 'Roomtype', value: 'roomtype'
        },
        {
          text: 'Reservation nr.', value: 'reservation_nr'
        },
        {
          text: 'blocked', value: 'blocked'
        },
        {
          text: 'Actions', value: 'action', sortable: false
        }
      ],
      rooms: []
    }
  },

  computed: {
    token () { return this.$store.state.token.value }
  },

  mounted () {
    this.getRooms()
  },

  methods: {

    editRoom (item) {
      this.$router.push('/mgmt/roomedit/?id=' + item.id)
    },

    async getRooms () {
      try {
        const resp = await this.$api.reservation.get_rooms({
          token: this.token
        })
        this.rooms = resp.data.rooms
      } catch (error) {
        const resp = error.response
        console.error('getting getrooms', resp)
        if (resp.status === 401) {
          this.$router.push('/mgmt/login')
        } else {
          this.$root.$emit('snackbar', { text: 'Getting rooms failed', reason: resp.data.detail })
        }
      }
    }

  }

}
</script>
